html{height:100%;width:100%;overflow:hidden}
body{ margin:0;padding:0;font-family:Helvetica }
#wrapper{height:100%;width:100%;margin:0;padding:0;position:relative;z-index:1}
#background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.stretch {
    width:100%;
    height:100%;
}

#card-table{ width:25%; height:100%; overflow-y:scroll; float:right; background:rgba(255,255,255,.4); box-shadow:0px 0px 15px #333 }
.card-table-col{  }

/** Small Cards **/
.card{
    /*position:absolute;*/
    /*top:10px;*/
    /*left:0px;*/
    position:relative;
    margin:15px auto;
    box-shadow:0px 0px 10px #000;
    z-index:2;
    display:block;
    width:85%;
    height:200px;
    background:#fff;
    border-radius:5px;
    -moz-transition: border-radius box-shadow 1s;
    -webkit-transition: border-radius box-shadow 1s;
    -ms-transition: border-radius box-shadow 1s;
    -o-transition: border-radius box-shadow 1s;
    transition: border-radius box-shadow 1s; }
.card:hover{cursor:pointer}

.card.at-will{border:2em solid #588D61; border-width:1.2em .5em 1em}
.card.encounter{border:2em solid #742A27; border-width:1.2em .5em 1em}
.card.daily{border:2em solid #808171; border-width:1.2em .5em 1em}
.card.utility{border:2em solid #23233D; border-width:1.2em .5em 1em}
.card .edit-control{ display:block; width:15px; height:15px; top:5px; right:5px; position:absolute; }
.card .edit-control a img{border:0}
.card h1{
    text-shadow:1px 1px 0px #333;
    font-size:14px;
    margin:0;
    padding:0;
    color:#fff;
    position:absolute;
    display:block;
    top:-1.2em;
    left:.2em;
    height:0;
}
.card .card-type-subtext{ position:absolute;bottom:-1.4em;left:.1em;color:#fff;font-size:12px;text-transform:uppercase;font-weight:700 }

/** Full Screen **/
.fullscreen.card{
    z-index:5;
    box-shadow:0px 0px 15px #000;
    border-radius:10px;
    -moz-transition: border-radius box-shadow 1s;
    -webkit-transition: border-radius box-shadow 1s;
    -ms-transition: border-radius box-shadow 1s;
    -o-transition: border-radius box-shadow 1s;
    transition: border-radius box-shadow 1s; }
.fullscreen.at-will.card{ border:2em solid #588D61; border-width:4em 1em 2em }
.fullscreen.encounter.card{ border:2em solid #742A27; border-width:4em 1em 2em }
.fullscreen.daily.card{ border:2em solid #808171; border-width:4em 1em 2em }
.fullscreen.utility.card{ border:2em solid #23233D; border-width:4em 1em 2em }
.fullscreen.card [name="Description"]{ height:100px; width:95%; margin:10px }
.fullscreen.card [name="Name"]{ font-size:42px;position:absolute; top:-1.2em; left:.2em;height:1em; width:95% }

.fullscreen h1{
    text-shadow:2px 2px 0px #333;
    font-size:52px;
    margin:0;
    padding:0;
    color:#fff;
    position:absolute;
    display:block;
    top:-1.2em;
    left:.2em;
    height:0;
}

.fullscreen.card .card-type-subtext{ font-size:16px }


/** Debug **/
#debug{ position:fixed; right:0; top:10px; width:100px; z-index:999; background:#fff; border-radius:5px 0 0 5px; border:1px solid #000; box-shadow:0px 0px 15px #333; }